<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>K9 Deli pet grooming appointments</title>
</head>
<body>
<h2>currently booked appointments:</h2>
<textarea>note: despite status, appointments may not actually be canceled </textarea>
{% if appointments %}
<form action="{{ url_for('appointments.view_appointment'}}" method="POST"
                style="margin-top: 20px;">
                <button type="submit" class="btn red waves-effect waves-light">Load Appointments</button>
            </form>
<table>
  <tr>
    <td>Pet</td>
    <td>Client Name</td>
    <td>Appointment-Time</td>
    <td>Appointment Date</td>
    <td>Appointment status</td>
  </tr>
    {% for appointment in appointments%}
    <tr>
        <td>{{ appointment.pet.pet_name }}</td>
        <td>{{ appointment.client_name }}</td>
        <td>{{ appointment.appointment_time }} </td>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.status }} </td>
    </tr>
</table>
<ul>
            <li><a href="BookingLayout.html" target='BookingLayout.html'>Click Here to book an appointment</a></li>
</ul>
</body>
<footer>
        <p>&copy; 2025 K9 Deli Pet Booking</p>
    </footer>
</html>