header.main-header {
  /* height: 98vh; */
  /* delete this code block later if it is still not needed */
}

nav.nav-bar {
  background-color: rgba(9, 204, 135, 0.9);
  display: flex;
  align-items:center;
  height: auto;  /* 3em */
}

ul.container {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex: auto;
  padding: 0;
}

ul.container li {
  list-style-type: none;
  margin:0 2%;
}

img {
  max-height: 100%;
}