<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>K9 Deli pet grooming appointments</title>
</head>
<body>
<header class="main-header">
    <nav class="nav-bar">
        <!-- Flask needs images to be under /static/ by default -->
        <img src="./static/k9_logo.jpg" alt="K9 Logo" style="width:80px; height: auto;">
      <ul class="container">
        <li><a href="{{ url_for('appointments.view_appointments') }}">View appointments</a></li>
      </ul>
      <ul class="container">
        <li><a href="{{ url_for('appointments.load_page') }}">Book appointment</a></li>
      </ul>
    </nav>
</header>
 <h4>Appointments List:</h4>
<table border="1">
    <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Pet Name</th>
                <th>Appointment Date and Time</th>
                <th>Phone Number</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Action</th>
                <th>Messaging</th>
            </tr>
        </thead>
    <tbody>
            {% for appointment in appointments | reverse %}
            <tr>
                <td>{{ appointment['id'] }}</td>
                <td>{{ appointment['customer_first'] }} {{ appointment['customer_last'] }}</td>
                <td>{{ appointment['pet_name'] }}</td>
                <td>{{ appointment['appt_datetime'] }}</td>
                <td>{{ appointment['customer_number'] }}</td>
                <td>{{ appointment['comments'] }}</td>
                <td>{{ 'Scheduled' if appointment['appt_status'] == 1 else 'Done' if appointment['appt_status'] == 2 else 'Confirmed' if appointment['appt_status'] == 3 else 'Cancelled' }}</td>
                <td>
                    {% if appointment['appt_status'] == 1 %}
                    <a href="{{ url_for('appointments.cancel_appointment', appointment_id=appointment[0]) }}">Cancel</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
                <td>
                    {% if appointment['appt_status'] == 1 %}
                    <a href="{{ url_for('appointments.confirm_appointment', appointment_id=appointment[0]) }}">Test messaging</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
<br>
</body>
<footer>
        <p>&copy; 2025 K9 Deli Pet Booking</p>
    </footer>
</html>