<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>K9 Deli pet grooming appointments</title>
</head>
<body>
<h1>Appointments List:</h1>
<table border="1">
    <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Pet Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Phone Number</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Action</th>
                <th>Messaging</th>
            </tr>
        </thead>
    <tbody>
            {% for appointment in appointments | reverse %}
            <tr>
                <td>{{ appointment['id'] }}</td>
                <td>{{ appointment['customer_first'] }} {{ appointment['customer_last'] }}</td>
                <td>{{ appointment['pet_name'] }}</td>
                <td>{{ appointment['appt_datetime'] }}</td>
                <td>{{ appointment['customer_number'] }}</td>
                <td>{{ appointment['comments'] }}</td>
                <td>{{ 'Scheduled' if appointment['appt_status'] == 1 else 'Done' if appointment['appt_status'] == 2 else 'Confirmed' if appointment['appt_status'] == 3 else 'Cancelled' }}</td>
                <td>
                    {% if appointment['appt_status'] == 1 %}
                    <a href="{{ url_for('appointments.cancel_appointment', appointment_id=appointment[0]) }}">Cancel</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
                <td>
                    {% if appointment['appt_status'] == 1 %}
                    <a href="{{ url_for('appointments.confirm_appointment', appointment_id=appointment[0]) }}">Test messaging</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
<br>
    <a href="{{ url_for('appointments.load_page') }}">Click Here to book an appointment</a>
</body>
<footer>
        <p>&copy; 2025 K9 Deli Pet Booking</p>
    </footer>
</html>