<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments List</title>
</head>
<body>
    <header class="main-header">
    <nav class="nav-bar">
        <!-- Flask needs images to be under /static/ by default -->
        <img src="./static/k9_logo.jpg" alt="K9 Logo" style="width:80px; height: auto;">
      <ul class="container">
        <li>All Appointments</li>
      </ul>
      <ul class="container">
        <li>About Us</li>
      </ul>
    </nav>
    </header>
    <h1>Appointments List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Pet Name</th>
                <th>Appointment Date Time</th>
                <th>Phone#</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments | reverse %}
            <tr>
                <td>{{ appointment['id'] }}</td>
                <td>{{ appointment['customer_first'] }} {{ appointment['customer_last'] }}</td>
                <td>{{ appointment['pet_name'] }}</td>
                <td>{{ appointment['appt_datetime'] }}</td>
                <td>{{ appointment['phone_no'] }}</td>
                <td>{{ appointment['comments'] }}</td>
                <td>{% set status_map = {1: 'Scheduled', 2: 'Done', 0: 'Cancelled'} %}
                {{ status_map[appointment['appt_status']] }}</td>
                <!-- {{ 'Scheduled' if appointment['appt_status'] == 1 else 'Done' if appointment['appt_status'] == 2 else 'Cancelled' }} -->

                <td>
                    {% if appointment['appt_status'] == 1 %}
                    <a href="{{ url_for('cancel_appointment', appointment_id=appointment['id']) }}">Cancel</a>
                    {% else %}
                    <span></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('home') }}">Back to Appointment Form</a>
</body>
</html>
