<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="input-field">
            <label for="new_service_name">Desired service</label>
            <textarea name="service-name" id="new_Service_name" class="materialize-textarea"></textarea>
        </div>

<button class="{{ url_for('appointments.view_appointments') }}">Book Appointment</button>
<form action="{{ url_for('appointments.view_appointment'}}" method="POST"
                style="margin-top: 20px;">
                <button type="submit" class="btn red waves-effect waves-light">Load Appointments</button>
            </form>
 <tr>
    <td>Pet</td>
    <td>Client Name</td>
    <td>Appointment-Time</td>
    <td>Appointment Date</td>
    <td>Appointment status</td>
  </tr>
    {% for appointment in appointments%}
    <tr>
        <td>{{ appointment.pet.pet_name }}</td>
        <td>{{ appointment.client_name }}</td>
        <td>{{ appointment.appointment_time }} </td>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.status }} </td>
    </tr>

<div class="input-field">
            <label for="new_appointment_date">Date:</label>
            <input type="text" name="appointment_date" id="new_appointment_date" class="date-picker" required>
        </div>
        <div class="input-field">
            <label for="new_appointment_date">Time:</label>
            <input type="text" name="appointment_date" id="new_appointment_time" class="time-picker" required>
        </div>
        <div class="input-field">
            <label for="new_client_first_name">First name:</label>
            <textarea name="first-name" id="new_client_first_name" class="materialize-textarea required"></textarea>
        </div>
        <div class="input-field">
            <label for="new_client_last_name">Last name:</label>
            <textarea name="first-name" id="new_client_last_name" class="materialize-textarea"></textarea>
        </div>
        <div class="input-field">
            <label for="new_client_number">Contact number</label>
            <textarea name="pet-name" id="new_client_number" class="materialize-textarea"></textarea>
        </div>
        <div class="input-field">
            <label for="new_pet_name">Pet name</label>
            <textarea name="pet-name" id="new_pet_name" class="materialize-textarea"></textarea>
        </div>
</body>
</html>