<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>K9 deli appointment bookings</title>
</head>
<body>
<header class="main-header">
    <nav class="nav-bar">
        <!-- Flask needs images to be under /static/ by default -->
        <img src="../static/k9_logo.jpg" alt="K9 Logo" style="width:80px; height: auto;">
      <ul class="container">
        <li></li>
      </ul>
      <ul class="container">
        <li></li>
      </ul>
    </nav>
</header>
<h1>Welcome to the K9 Deli appointment booking service</h1>
<p>Is this your first time booking your pet with us?</p>
<a href="{{ url_for('appointments.load_questionnaire') }}">Yes</a>
<a href="{{ url_for('appointments.view_appointments') }}">No</a>
</body>
<footer>
        <p>&copy; 2025 K9 Deli Pet Booking</p>
    </footer>
</html>